.droparea {
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 5px;
    border-color: red;
    float: left;
    line-height: 200px;
    text-align: center;
}

.tablearea {
    width: 400px;
    min-height: 400px;
    border-style: solid;
    border-width: 3px;
    border-color: blue;
    float: left;
    margin-left: 10px;
}
